body{
    font-family: Arial;
    background-color: rgb(204, 231, 238);
    text-align: center;
}

.box{
    width: 300px;
    background-color: rgb(185, 30, 30);
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(232, 213, 213);
}

input{
    width: 150px;
    background-color: rgb(228, 203, 203);
    font-family: 'Times New Roman', Times, serif;
}